.app-button {
  border: 0;
  background: var(--primary);
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: none;
  &-icon {
    border: 0;
    background: transparent;
    img {
      width: 15px;
    }
    &--black {
      background: #666666;
      border-radius: 15px;
      width: 30px;
      height: 30px;
      display: block;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &--secondary {
    background: var(--secondary);
  }
  &--block {
    display: block;
    width: 100%;
  }
}