.app-leave-message {
  width: 100%;
  height: var(--app-height);
  //min-height: 500px;
  position: relative;
  background-size: cover;
  &__image {
    position: absolute;
    right: -50px;
    top: -50px;
  }
  &__messages {
    height: calc(var(--app-height) - 51px);
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  &__adjunta {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--app-height);
    width: 100%;
    z-index: 3;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
    z-index: 5;
  }
  &__input {
    background: white;
    border-radius: 30px;
    border: 1px solid #cccccc;
    display: flex;
    width: 100%;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    textarea {
      border:0;
      width: 100%;
      background: transparent;
      border: 0;
      outline: none;
    }
  }
  &__file {
    position: absolute;
    top: -10000px;
  }
}
@supports (-webkit-touch-callout: none) {
  .app-leave-message {
    &__form {
      //bottom: 66px;
    }
  }
}
.app-message {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__image {
    width: 100px;
  }
  &__text {
    font-size: 14px;
    color: var(--primary);
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    background: white;
    width: auto;
    display: inline-block;
    margin-top: 5px;
    font-weight: 600;
  }
}