:root {
  --font-primary: 'Open Sans';
  --font-secondary: 'Dancing Script';
  --font-cursive: 'Parisienne';
  --primary: #663366;
  --secondary: #669999;
  --light: #66cc33;
  --app-height: 100%;
}
* {
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    @media not all and (hover:hover) {
        height: var(--app-height);
    }
}
.page {
  min-height: 500px;
  height: 100%;
}

img {
  display: block;
}
button,a textarea {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import './assets/scss/input.scss';
@import './assets/scss/button.scss';
