.app-map {
  position: relative;
  height: var(--app-height);
  &__buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    .app-button {
      margin: 0;
    }
  }
  &__google {
    width: 100%;
    height: calc(var(--app-height) - 34px);
  }
  &__marker {
    width: 180px;
    display: flex;
    align-items: center;
    margin-top: -15px;
    img {
      flex-shrink: 0;
    }
    &__message {
      color: var(--primary);
      background: white;
      margin-left: 5px;
      padding: 5px;
      font-size: 9px;
    }
  }
}